<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<div id="error-messages">
  <% if (errors) { %>
  <ul class="error">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
</div>

<form class="form form--inventory" action="/inv/add-inventory" method="post">
    <div>
        <label>Classification
            <%- classificationSelect %>
        </label>
        <label>Make<input type="text" minlength="2" name="inv_make" required required value="<%= locals.invValues?.inv_make %>" /></label>
        <label>Model<input type="text" minlength="2" name="inv_model" required value="<%= locals.invValues?.inv_model %>" /></label>
        <label>Year<input type="number" min="1885" max="2025" name="inv_year" required value="<%= locals.invValues?.inv_year %>"/></label>
        <label>Description<textarea minlength="2" name="inv_description" required><%= locals.invValues?.inv_description %></textarea></label>
    </div>
    <div>
        <input type="hidden" value="/images/vehicles/no-image.png" name="inv_image" required />
        <input type="hidden" value="/images/vehicles/no-image-tn.png" name="inv_thumbnail" required />
        <label>Price<input type="number" min="0" name="inv_price" required value="<%= locals.invValues?.inv_price %>"/> </label>
        <label>Miles<input type="number" min="0" name="inv_miles" required value="<%= locals.invValues?.inv_miles %>"/> </label>
        <label>Color<input type="text" minlength="2" name="inv_color" required value="<%= locals.invValues?.inv_color %>"/> </label>   
        <input type="submit" value="Submit" />  
    </div>
</form>
